Heroes of Pymoli homework: Kathy Cashen

  Those in the 20-24 year age group make up the majority of players at 63%. The largest percentage of players are males, making up 84% of total players.
Note: on Top Spenders, I thought it would be interesting to see gender, which I can get to show, but not format well. I also think age range would be interesting, but can't figure out how to get the age bins to show

Heroes of Pymoli homework: Kathy Cashen

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [15]:
purchase_data.head(20)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64

## Player Count

* Display the total number of players

In [10]:
count_player = purchase_data.count()
count_player

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [17]:
purchase_data.head(20)
purchase_data.sort_values("SN")

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
467,467,Adairialis76,16,Male,123,Twilight's Carver,2.28
142,142,Adastirin33,35,Female,175,Woeful Adamantite Claymore,4.48
388,388,Aeda94,17,Male,128,"Blazeguard, Reach of Eternity",4.91
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
630,630,Aelaria33,23,Male,171,Scalpel,1.79
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
218,218,Aelastirin39,23,Male,76,Haunted Bronzed Bludgeon,3.15
705,705,Aelidru27,22,Male,183,Dragon's Greatsword,1.09
52,52,Aelin32,20,Male,60,Wolf,3.54
87,87,Aelin32,20,Male,151,Severance,3.40
584,584,Aelin32,20,Male,115,Spectral Diamond Doomblade,2.04
43,43,Aelly27,24,Male,116,Renewed Skeletal Katana,4.18
428,428,Aelly27,24,Male,14,Possessed Core,2.61
286,286,Aellynun67,25,Male,153,Mercenary Sabre,3.74
746,746,Aellyria80,23,Male,159,"Oathbreaker, Spellblade of Trials",3.08
203,203,Aelollo59,33,Male,3,Phantomlight,2.49
431,431,Aelollo59,33,Male,172,Blade of the Grave,3.14
183,183,Aenarap34,21,Male,15,Soul Infused Crystal,2.96
263,263,Aeral43,24,Male,78,"Glimmer, Ender of the Moon",4.40
674,674,Aeral68,43,Male,77,"Piety, Guardian of Riddles",4.00
167,167,Aeral97,23,Male,157,"Spada, Etcher of Hatred",4.80
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09
583,583,Aeralstical35,20,Male,49,"The Oculus, Token of Lost Worlds",2.96
303,303,Aeri84,24,Male,71,Demise,1.61
381,381,Aerillorin70,16,Male,83,Lifebender,3.33
274,274,Aerithllora36,29,Female,82,Nirvana,4.90
578,578,Aerithllora36,29,Female,153,Mercenary Sabre,3.74
324,324,Aerithnucal56,15,Male,154,Feral Katana,4.40
517,517,Aerithnuphos61,39,Male,128,"Blazeguard, Reach of Eternity",4.91
40,40,Aerithriaphos45,20,Male,143,Frenzied Scimitar,1.56
...,...,...,...,...,...,...,...
421,421,Yadaphos40,30,Male,26,Unholy Wand,1.12
62,62,Yadaphos40,30,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
447,447,Yalae81,22,Male,120,Agatha,3.08
681,681,Yalaeria91,33,Male,28,"Flux, Destroyer of Due Diligence",1.06
59,59,Yaliru88,19,Male,105,Hailstorm Shadowsteel Scythe,3.03
383,383,Yalo85,34,Male,11,Brimstone,3.65
518,518,Yalostiphos68,29,Male,160,Azurewrath,4.40
280,280,Yana46,20,Female,16,Restored Bauble,3.55
364,364,Yarithllodeu72,22,Male,88,"Emberling, Defender of Delusions",3.75
279,279,Yarithrgue83,20,Male,163,Thunderfury Scimitar,3.45
698,698,Yarithrin84,30,Female,58,"Freak's Bite, Favor of Holy Might",4.14
231,231,Yarithsurgue62,26,Male,139,"Mercy, Katana of Dismay",4.94
696,696,Yarolwen77,30,Male,87,"Deluge, Edge of the West",4.43
46,46,Yasrisu92,27,Male,102,Avenger,3.44
340,340,Yastyriaphos75,22,Male,41,Orbit,4.75
257,257,Yasur35,26,Male,175,Woeful Adamantite Claymore,4.48
514,514,Yasur85,21,Male,21,Souleater,1.10
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
125,125,Yathecal82,20,Female,62,Piece Maker,1.87
727,727,Yathecal82,20,Female,104,Gladiator's Glaive,1.93
548,548,Yathecal82,20,Female,75,Brutality Ivory Warmace,2.42
595,595,Yathedeu43,22,Male,55,Vindictive Glass Edge,2.27
93,93,Yathedeu43,22,Male,88,"Emberling, Defender of Delusions",3.75
572,572,Yoishirrala98,17,Female,145,Fiery Glass Crusader,4.58
54,54,Zhisrisu83,10,Male,25,Hero Cane,4.35
141,141,Zhisrisu83,10,Male,60,Wolf,3.54
560,560,Zontibe81,21,Male,2,Verdict,2.48
442,442,Zontibe81,21,Male,84,Arcane Gem,3.79
17,17,Zontibe81,21,Male,161,Devine,1.76

In [85]:
players = purchase_data.loc[:,["SN","Gender","Age"]]
unique_players = players.drop_duplicates()
count_players = unique_players.count()[0]
pd.DataFrame({"Total Players": [count_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [86]:
unique_items = len(purchase_data["Item ID"].unique())
average_price = purchase_data["Price"].mean()
number_of_purchases = purchase_data["Price"].count()
total_price = purchase_data["Price"].sum()
purchase_count = purchase_data["Price"].count()
item_count = len(purchase_data["Item ID"].unique())

In [87]:
summary_table = pd.DataFrame({"Number of Unique Items": unique_items,
                              "Average Price": ["average_price"],
                              "Number of Purchases": [number_of_purchases],
                              "Total Revenue": [total_price],
                              "Number of Purchases": [purchase_count],
                              "Average Price": [average_item_price]})
summary_table

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [88]:
#this is not right but I can't quite figure out why - and, obvs, 113% for male % of players?!
gender_totals = players["Gender"].value_counts()
gender_percents = gender_totals / count_players
gender_demographics = pd.DataFrame({"Total Count": gender_totals, "Percentage of Players": gender_percents})

gender_demographics

                       Total Count  Percentage of Players
Male                           652               1.131944
Female                         113               0.196181
Other / Non-Disclosed           15               0.026042


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [73]:
#Purchase Count	Average Purchase Price	Total Purchase Value	Avg Total Purchase per Person
purchase_counts = purchase_data.groupby(["Gender"]).count()["Price"]
avg_purchase_price = purchase_data.groupby(["Gender"]).mean()["Price"]
total_purchase_value = purchase_data.groupby(["Gender"]).sum()["Price"]
avg_per_person = total_purchase_value/purchase_counts

purchase_analysis = pd.DataFrame({"Purchase Count": purchase_counts, "Average Purchase Price": avg_purchase_price, "Total Purchase Value": total_purchase_value, "Average Total Per Person": avg_per_person})
purchase_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Per Person
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [78]:
# bins 
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# existing players age bins
players["Age Ranges"] = pd.cut(players["Age"], age_bins, labels=group_names)

# numbers and Percentages by Age Group
age_demo_totals = players["Age Ranges"].value_counts()
age_demo_percents = age_demo_totals / count_players
age_demo = pd.DataFrame({"Total Count": age_demo_totals, "Percentage of Players": age_demo_percents})


age_demographics = age_demographics.sort_index()
age_demographics

       Total Count  Percentage of Players
<10             23               0.039931
10-14           28               0.048611
15-19          136               0.236111
20-24          365               0.633681
25-29          101               0.175347
30-34           73               0.126736
35-39           41               0.071181
40+             13               0.022569

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [81]:

purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)

age_purchase_total = purchase_data.groupby(["Age Ranges"]).sum()["Price"]
age_counts = purchase_data.groupby(["Age Ranges"]).count()["Price"]
avg_total_per_person = age_purchase_total/age_counts



age_data = pd.DataFrame({"Purchase Count": age_counts, "Average Purchase Price": avg_total_per_person, "Total Purchase Value": age_purchase_total})

age_data

            Purchase Count  Average Purchase Price  Total Purchase Value
Age Ranges
<10                     23                3.353478                 77.13
10-14                   28                2.956429                 82.78
15-19                  136                3.035956                412.89
20-24                  365                3.052219               1114.06
25-29                  101                2.900990                293.00
30-34                   73                2.931507                214.00
35-39                   41                3.601707                147.67
40+                     13                2.941538                 38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [91]:
#I thought it would be interesting to see gender, which I can get to show, but not format well. I also think age range would be interesting, but can't figure out how
#to get the bins to show
user_total = purchase_data.groupby(["SN"]).sum()["Price"]
user_average = purchase_data.groupby(["SN"]).mean()["Price"]
user_count = purchase_data.groupby(["SN"]).count()["Price"]
gender = purchase_data.groupby("SN")["Gender"]


user_data = pd.DataFrame({"Total Purchase Value": user_total, "Average Purchase Price": user_average, "Purchase Count": user_count, "Gender": gender})


user_sorted = user_data.sort_values("Total Purchase Value", ascending=False)
user_sorted.head()

,Total Purchase Value,Average Purchase Price,Purchase Count,Gender
SN,,,,
Lisosia93,18.96,3.792000,5,"(Lisosia93, [Male, Male, Male, Male, Male])"
Idastidru52,15.45,3.862500,4,"(Idastidru52, [Male, Male, Male, Male])"
Chamjask73,13.83,4.610000,3,"(Chamjask73, [Female, Female, Female])"
Iral74,13.62,3.405000,4,"(Iral74, [Male, Male, Male, Male])"
Iskadarya95,13.10,4.366667,3,"(Iskadarya95, [Male, Male, Male])"

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [83]:
# Extract item Data
item_data = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]

# Perform basic calculations
total_item_purchase = item_data.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")
average_item_purchase = item_data.groupby(["Item ID", "Item Name"]).mean()["Price"]
item_count = item_data.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")

# Create new DataFrame
item_data_pd = pd.DataFrame({"Total Purchase Value": total_item_purchase, "Item Price": average_item_purchase, "Purchase Count": item_count})

# Sort Values
item_data_count_sorted = item_data_pd.sort_values("Purchase Count", ascending=False)

# Minor Data Munging
item_data_count_sorted["Item Price"] = item_data_count_sorted["Item Price"].map("${:,.2f}".format)
item_data_count_sorted["Purchase Count"] = item_data_count_sorted["Purchase Count"].map("{:,}".format)
item_data_count_sorted["Total Purchase Value"] = item_data_count_sorted["Total Purchase Value"].map("${:,.2f}".format)
item_popularity = item_data_count_sorted.loc[:,["Purchase Count", "Item Price", "Total Purchase Value"]]

item_popularity.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [84]:
# Item Table (Sorted by Total Purchase Value)
item_total_purchase = item_data_pd.sort_values("Total Purchase Value", ascending=False)

# Minor Data Munging
item_total_purchase["Item Price"] = item_total_purchase["Item Price"].map("${:,.2f}".format)
item_total_purchase["Purchase Count"] = item_total_purchase["Purchase Count"].map("{:,}".format)
item_total_purchase["Total Purchase Value"] = item_total_purchase["Total Purchase Value"].map("${:,.2f}".format)
item_profitable = item_total_purchase.loc[:,["Purchase Count", "Item Price", "Total Purchase Value"]]

item_profitable.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80